$brand-color:         #050633;
$highlight:           lighten($brand-color, 35%);
$text-color:          #ffffff;
$article-text-color:  #000000;
$muted-text-color:    #2289fb;
$serif-font-family:   "Merriweather", "Times New Roman", serif;
$font-family:         "Lato", "Roboto", sans-serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;